# Force an older numpy to prevent binary incompatibility
numpy<2.0.0

streamlit
pandas
openpyxl
torch
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
vaderSentiment
transformers
sentence-transformers