streamlit
pandas
openpyxl
torch==2.2.1
spacy==3.7.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl

vaderSentiment
transformers==4.35.2
sentence-transformers==2.7.0
