# Core
streamlit
pandas
openpyxl

# Numeric & Torch
numpy==1.26.4
torch==2.2.1

# Transformers stack
transformers==4.35.2
sentence-transformers==2.2.2
huggingface_hub>=0.19.0



# spaCy
spacy==3.7.2
thinc==8.2.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl

# Sentiment
vaderSentiment
